body,
html {
  height: 100%;
}

body {
  font-weight: 200;
  font-size: 1.5rem;
  color: #444;
}

.navbar {
  font-size: 12px !important;
  overflow: hidden;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
}

.navbar-brand {
  font-size: 14px !important;
}

.intro-left {
  background: url(../img/1_1.jpg);
  background-size: cover;
  /* position: fixed; */
  /* left: 0; */
  /* width: 33.3333%; */
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media (max-width: 768px) {
  .intro-left {
    height: 30vh;
    margin-bottom: 0;
    position: relative;
    width: 100%;
  }
}

a:hover {
  text-decoration: none !important;
}

.avatar {
  width: 15rem;
  height: 17rem;
  border-radius: 50%;
  margin: 100px 0 20px 0;
}

.full-height {
  height: 100%;
}

.intro-text {
  font-weight: 200;
  font-size: 1rem;
  color: #444;
}

.icon-row {
  display: flex;
  flex-direction: row;
}

.icon-spacing {
  padding-right: 2rem;
}

section {
  margin: 5rem;
  font-size: 1.2rem;
}

a {
  color: #444;
  text-decoration: none;
}

.contact {
  width: 1200px;
}

/* .panel-right {
  background-color: #eee;
} */

.background {
  background-color: #eee;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: fixed;
  left: 0;
  clip-path: polygon(36% 0, 100% 0, 100% 100%, 18% 100%);
}

.completed-works {
  margin-top: 4rem;
}

.completed-works-image {
  width: 100% !important;
  height: 10vw !important;
  object-fit: cover !important;
}

@media only screen and (max-width: 991px) {
  .completed-works-image {
    height: 100% !important;
  }
}
